<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces_9pt-Black.ttf</string>
		<string>Fraunces_9pt-Italic.ttf</string>
		<string>Fraunces_9pt-BoldItalic</string>
		<string>Fraunces_144pt-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
